<div class="modal fade" id="modal-item-subcontract" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    New item
                </h5>

                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                <form class="m-form" id="item-subcontract-form" action="#"
                      enctype="multipart/form-data" method="post">

                    <div class="form-group m-form__group">
                        <label>
                            Name
                            <span class="ic-small italic">(required)</span>
                        </label>

                        <input type="text" class="form-control form-control-text"
                               id="item-name-subcontract" name="name" placeholder="Enter the custom name"/>

                    </div>
                    <div class="form-group m-form__group">
                        <label>
                            Unit
                            <span class="ic-small italic">(required)</span>
                        </label>

                        <div class="row">
                            <div class="col-md-10" id="select-unit-subcontract">
                                <select class="form-control m-select2 event-change" id="unit-subcontract" name="unit">
                                    <option value="">Select</option>
                                    {% for item in units %}
                                        <option value="{{ item.unitId }}">{{ item.description }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2" style="padding-top: 3px; padding-left: 0px;">
                                <a href="javascript:;" title="Add unit" id="btn-add-unit-subcontract"
                                   class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
                                    <i class="la la-plus"></i>
                                </a>
                            </div>
                        </div>

                    </div>

                    <div class="form-group m-form__group">
                        <label>
                            Yield Calculation
                            <span class="ic-small italic">(optional)</span>
                        </label>
                        <div class="row">
                            <div class="col-md-12" id="select-yield-calculation-subcontract">
                                <select class="form-control m-select2 event-change" id="yield-calculation-subcontract"
                                        name="yield">
                                    <option value="">Select</option>
                                    {% for item in yields_calculation %}
                                        <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="form-group m-form__group m--hide" id="select-equation-subcontract">
                        <label>
                            Equation
                            <span class="ic-small italic">(required)</span>
                        </label>
                        <div class="row">
                            <div class="col-md-10">
                                <select class="form-control m-select2 event-change" id="equation-subcontract"
                                        name="equation">
                                    <option value="">Select</option>
                                    {% for item in equations %}
                                        <option value="{{ item.equationId }}"> {{ item.description }} {{ item.equation }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-2" style="padding-top: 3px; padding-left: 0px;">
                                <a href="javascript:;" title="Add equation" id="btn-add-equation-subcontract"
                                   class="btn btn-success m-btn m-btn--icon m-btn--icon-only">
                                    <i class="la la-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="btn-salvar-item-subcontract">Save</button>
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>

<!-- components -->
{{ render(controller('App\\Controller\\Admin\\DefaultController::renderModalEquation')) }}
{{ render(controller('App\\Controller\\Admin\\DefaultController::renderModalUnit')) }}

<script src="{{ asset('bundles/metronic8/js/components/modal-item-subcontract.js') }}?{{ 'now' | date('U') }}"></script>