{% extends 'admin/layout.html.twig' %}

{% block subtitle %} - My Profile{% endblock %}

{% block stylesheetspecific %}{% endblock %}

{% block content %}

    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                    My Profile
                </h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">
                        <a href="{{ url('home') }}" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::Item-->
                    <!--begin::Item-->
                    <li class="breadcrumb-item text-muted">Manage your information</li>
                    <!--end::Item-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">

            </div>
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">

            <div class="row gy-5 g-xl-10">

                <!--begin::Col-->
                <div class="col-xl-5 mb-5 mb-xl-10" id="kt_profile_aside">
                    <!--begin::Engage widget 1-->
                    <div class="card h-md-100" dir="ltr">
                        <!--begin::Body-->
                        <div class="card-body pt-4">

                            <!--begin::User-->
                            <div class="d-flex align-items-center mt-10">

                                <div>
                                    <a class="text-gray-900 text-hover-primary fs-2 fw-bold me-1">
                                        {{ usuario.nombre }}
                                    </a>
                                    <div class="d-flex align-items-center text-gray-500 me-5 mb-2">
                                        <app-keenicon name="profile-circle" class="fs-4 me-1"></app-keenicon>
                                        {{ usuario.rol.nombre }}
                                        <app-keenicon name="shield-tick" class="text-success fs-4 me-1"></app-keenicon>
                                    </div>
                                    <!--
                                    <div class="mt-2">
                                        <a class="btn btn-sm btn-primary font-weight-bold me-2 py-2 px-3 px-xxl-5 my-1 cursor-pointer">Chat</a>
                                        <a class="btn btn-sm btn-success font-weight-bold py-2 px-3 px-xxl-5 my-1 cursor-pointer">Follow</a>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <!--end::User-->

                            <!--begin::Contact-->
                            <div class="row mt-7 mb-3">
                                <!--begin::Label-->
                                <label class="col-lg-3 fw-semibold text-muted">Email:</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <span class="fw-bold fs-6 text-gray-800">{{ usuario.email }}</span>
                                </div>
                                <!--end::Col-->
                            </div>
                            {% if usuario.telefono %}
                            <div class="row mb-3">
                                <!--begin::Label-->
                                <label class="col-lg-3 fw-semibold text-muted">Phone:</label>
                                <!--end::Label-->
                                <!--begin::Col-->
                                <div class="col-lg-8">
                                    <span class="fw-bold fs-6 text-gray-800">{{ usuario.telefono }}</span>
                                </div>
                                <!--end::Col-->
                            </div>
                            {% endif %}
                            <!--end::Contact-->

                            <!--begin::Nav-->
                            <ul
                                    class="nav nav-tabs nav-line-tabs nav-stretch nav-line-tabs-2x border-transparent fs-5 fw-bold flex-row flex-md-column mt-10 me-5 mb-3 mb-md-0 fs-6">
                                <li class="nav-item mb-5">
                                    <a class="nav-link active" href="javascript:" id="tab-link-general">
                                        <app-keenicon name="user-edit" class="fs-2 me-1"></app-keenicon>
                                        Personal Information
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link m-0" href="javascript:" id="tab-link-pass">
                                        <app-keenicon name="security-user" class="fs-2 me-1"></app-keenicon>
                                        Change Password
                                    </a>
                                </li>
                            </ul>
                            <!--end::Nav-->
                        </div>
                        <!--end::Body-->
                    </div>
                    <!--end::Engage widget 1-->
                </div>
                <!--end::Col-->

                <!--begin::Col-->
                <div class="col-xl-7 mb-xl-10" id="form-profile">
                    <div class="card h-md-100">
                        <div class="card-header">
                            <div class="card-title">
                                <h3 class="card-label">Update profile:</h3>
                            </div>
                            <div class="card-toolbar">
                                <button type="button" id="btn-salvar-profile" class="btn btn-success">
                                    <i class="la la-check"></i>
                                    <span class="kt-hidden-mobile font-weight-bold">Save Changes</span>
                                </button>
                            </div>
                        </div>

                        <form id="usuario-form" class="form">

                            <input type="hidden" id="usuario_id" name="usuario_id" value="{{ usuario.usuarioId }}"/>

                            <div class="card-body">
                                <div id="tab-content-general">

                                    <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label class="col-lg-3 col-form-label required fw-semibold fs-6">Name:</label>
                                        <!--end::Label-->
                                        <!--begin::Col-->
                                        <div class="col-lg-5 fv-row fv-plugins-icon-container">
                                            <input type="text" class="form-control form-control-lg form-control-solid form-control-validate"
                                                   id="nombre" name="nombre" value="{{ usuario.nombre }}"/>
                                            <!--end::Col-->
                                        </div>
                                    </div>

                                    <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label class="col-lg-3 col-form-label required fw-semibold fs-6">Surname:</label>
                                        <!--end::Label-->
                                        <!--begin::Col-->
                                        <div class="col-lg-9 fv-row fv-plugins-icon-container">
                                            <input type="text" class="form-control form-control-lg form-control-solid form-control-validate"
                                                   id="apellidos" name="apellidos" value="{{ usuario.apellidos }}"/>
                                            <!--end::Col-->
                                        </div>
                                    </div>

                                    <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label class="col-lg-3 col-form-label required fw-semibold fs-6">Email:</label>
                                        <!--end::Label-->
                                        <!--begin::Col-->
                                        <div class="col-lg-9 fv-row fv-plugins-icon-container">
                                            <div class="input-group input-group-solid">
                                                <span class="input-group-text">&#64;</span>
                                                <input type="text" class="form-control form-control-lg form-control-validate" id="email"
                                                       name="email" value="{{ usuario.email }}" autocomplete="off">
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                    </div>

                                    <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label class="col-lg-3 col-form-label fw-semibold fs-6">Phone:</label>
                                        <!--end::Label-->
                                        <!--begin::Col-->
                                        <div class="col-lg-9 fv-row fv-plugins-icon-container">
                                            <div class="input-group input-group-solid">
                                                <span class="input-group-text"><i class="la la-phone"></i></span>
                                                <input type="text" class="form-control form-control-lg form-control-validate" id="telefono"
                                                       name="telefono" value="{{ usuario.telefono }}" autocomplete="off">
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                    </div>
                                </div>

                                <div id="tab-content-pass" class="hide">

                                    <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label class="col-lg-3 col-form-label fw-semibold fs-6">Current Password:</label>
                                        <!--end::Label-->
                                        <!--begin::Col-->
                                        <div class="col-lg-7 fv-row fv-plugins-icon-container">
                                            <div class="input-group input-group-solid">
                                                  <span class="input-group-text">
                                                    <i class="la la-key"></i>
                                                  </span>
                                                <input type="password"
                                                       class="form-control form-control-validate event-change"
                                                       id="password-actual" name="passwordactual" autocomplete="new-password">
                                                <span class="input-group-text toggle-password" >
                                                  <i class="ki-duotone ki-eye fs-2 show-icon"><span class="path1"></span><span
                                                              class="path2"></span><span class="path3"></span></i>
                                                  <i class="ki-duotone ki-eye-slash fs-2 hide-icon hide"><span
                                                              class="path1"></span><span class="path2"></span><span
                                                              class="path3"></span></i>
                                                </span>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                    </div>

                                    <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label class="col-lg-3 col-form-label fw-semibold fs-6">Password:</label>
                                        <!--end::Label-->
                                        <!--begin::Col-->
                                        <div class="col-lg-7 fv-row fv-plugins-icon-container">
                                            <div class="input-group input-group-solid">
                                                  <span class="input-group-text">
                                                    <i class="la la-key"></i>
                                                  </span>
                                                <input type="password"
                                                       class="form-control form-control-validate event-change"
                                                       id="password" name="password" autocomplete="new-password">
                                                <span class="input-group-text toggle-password" >
                                                  <i class="ki-duotone ki-eye fs-2 show-icon"><span class="path1"></span><span
                                                              class="path2"></span><span class="path3"></span></i>
                                                  <i class="ki-duotone ki-eye-slash fs-2 hide-icon hide"><span
                                                              class="path1"></span><span class="path2"></span><span
                                                              class="path3"></span></i>
                                                </span>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                    </div>

                                    <div class="row mb-6">
                                        <!--begin::Label-->
                                        <label class="col-lg-3 col-form-label fw-semibold fs-6"> Repeat Password:</label>
                                        <!--end::Label-->
                                        <!--begin::Col-->
                                        <div class="col-lg-7 fv-row fv-plugins-icon-container">
                                            <div class="input-group input-group-solid">
                                                  <span class="input-group-text">
                                                    <i class="la la-key"></i>
                                                  </span>
                                                <input type="password"
                                                       class="form-control form-control-validate event-change"
                                                       id="repetirpassword" name="repetirpassword"
                                                       autocomplete="new-password">
                                                <span class="input-group-text toggle-password">
                                                  <i class="ki-duotone ki-eye fs-2 show-icon"><span class="path1"></span><span
                                                              class="path2"></span><span class="path3"></span></i>
                                                  <i class="ki-duotone ki-eye-slash fs-2 hide-icon hide"><span
                                                              class="path1"></span><span class="path2"></span><span
                                                              class="path3"></span></i>
                                                </span>
                                            </div>
                                            <!--end::Col-->
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--end::Col-->

            </div>

        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->
{% endblock %}

{% block javascriptsspecific %}
    <script src="{{ asset('bundles/metronic8/js/pages/profile.js') }}?{{ 'now' | date('U') }}"></script>
    <script>
        jQuery(document).ready(function () {
            Profile.init();
        });
    </script>
{% endblock %}
