{% extends 'base-admin.html.twig' %}
{% block title %}Concrete Construction{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    <!--begin::Global Theme Styles -->
    <link href="{{ asset('bundles/metronic8/assets/plugins/custom/datatables/datatables.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/metronic8/assets/plugins/global/plugins.bundle.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('bundles/metronic8/assets/css/style.bundle.css') }}" rel="stylesheet" type="text/css"/>

    <!--begin::My Styles -->
    <link href="{{ asset('bundles/metronic8/css/styles.css') }}" rel="stylesheet" type="text/css" />

    {% block stylesheetspecific %}  {% endblock %}

    <link href="{{ asset('bundles/metronic8/css/my-components.css') }}" rel="stylesheet" type="text/css" />

{% endblock %}

{% block bodytag %}
<body id="kt_app_body" data-kt-app-layout="dark-sidebar" data-kt-app-header-fixed="true" data-kt-app-sidebar-enabled="true" data-kt-app-sidebar-fixed="true" data-kt-app-sidebar-hoverable="true" data-kt-app-sidebar-push-header="true" data-kt-app-sidebar-push-toolbar="true" data-kt-app-sidebar-push-footer="true" data-kt-app-toolbar-enabled="true" class="app-default">
{% endblock %}

{% block body %}

    <!--begin::App-->
    <div class="d-flex flex-column flex-root app-root" id="kt_app_root">
        <!--begin::Page-->
        <div class="app-page flex-column flex-column-fluid" id="kt_app_page">
            <!--begin::Header-->
            {{ render(controller('App\\Controller\\Admin\\DefaultController::renderHeader')) }}
            <!--end::Header-->
            <!--begin::Wrapper-->
            <div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
                <!--begin::Sidebar-->
                {{ render(controller(
                    'App\\Controller\\Admin\\DefaultController::renderMenu',
                    { activeRoute: app.request.attributes.get('_route') }
                )) }}
                <!--end::Sidebar-->
                <!--begin::Main-->
                <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
                    <!--begin::Content wrapper-->
                    <div class="d-flex flex-column flex-column-fluid">

                        {% block content %}

                        {% endblock %}

                    </div>
                    <!--end::Content wrapper-->
                    <!--begin::Footer-->
                    <div id="kt_app_footer" class="app-footer">
                        <!--begin::Footer container-->
                        <div class="app-container container-fluid d-flex flex-column flex-md-row flex-center flex-md-stack py-3">
                            <!--begin::Copyright-->
                            <div class="text-gray-900 order-2 order-md-1">
                                <span class="text-muted fw-semibold me-1">{{ "now" | date("Y") }} &copy; Concrete Construction</span>
                            </div>
                            <!--end::Copyright-->
                            <!--begin::Menu-->
                            {#
                            <ul class="menu menu-gray-600 menu-hover-primary fw-semibold order-1">
                                <li class="menu-item">
                                    <a href="https://keenthemes.com" target="_blank" class="menu-link px-2">About</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://devs.keenthemes.com" target="_blank" class="menu-link px-2">Support</a>
                                </li>
                                <li class="menu-item">
                                    <a href="https://1.envato.market/EA4JP" target="_blank" class="menu-link px-2">Purchase</a>
                                </li>
                            </ul>
                            #}
                            <!--end::Menu-->
                        </div>
                        <!--end::Footer container-->
                    </div>
                    <!--end::Footer-->
                </div>
                <!--end:::Main-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Page-->
    </div>
    <!--end::App-->

    <!-- begin::Scroll Top -->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <i class="ki-duotone ki-arrow-up">
            <span class="path1"></span>
            <span class="path2"></span>
        </i>
    </div>

    <!-- modal advertisement -->
    {{ render(controller('App\\Controller\\Admin\\DefaultController::renderModalAdvertisement')) }}

    <!-- modal reminder -->
    {{ render(controller('App\\Controller\\Admin\\DefaultController::renderModalReminder')) }}

    {% include 'admin/block/modals.html.twig' %}

{% endblock %}

{% block javascripts %}

    <script>var hostUrl = "bundles/metronic8/assets/";</script>

    <!--begin::Global Javascript Bundle(mandatory for all pages)-->
    <script src="{{ asset('bundles/metronic8/assets/plugins/global/plugins.bundle.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/assets/js/scripts.bundle.js') }}"></script>
    <!--end::Global Javascript Bundle-->

    <!--begin::My plugins-->
    <script src="{{ asset('bundles/metronic8/plugins/validacion/validacion.min.js') }}"></script>
    <!--end::My plugins-->

    <script src="{{ asset('bundles/metronic8/js/myapp.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/myutil.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/utils/modal-util.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/utils/block-util.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/utils/datatable-util.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/utils/date-util.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/utils/dropzone-util.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/utils/quill-util.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/utils/tempus-util.js') }}"></script>

    <script>
        // usuario actual
        var currentUser = {
            usuario_id: "{{ app.user.usuarioId }}",
            nombre: "{{ app.user.nombre }}",
            email: "{{ app.user.email }}",
            rol: "{{ app.user.rol.rolId }}"
        }

        // notificaciones item
        var url_project = "{{ url('project') }}";
        $(document).off('click', ".notificacion-item");
        $(document).on('click', ".notificacion-item", function (e) {
            var project_id = $(this).data('id');
            if (project_id != '') {

                localStorage.setItem('project_id_edit', project_id);

                // open
                window.open(
                    url_project,                // URL a abrir
                    '_blank',           // Abrir en una nueva pestaña o ventana
                    'noopener,noreferrer' // Evita que la ventana tenga acceso al objeto opener y no pase el Referer
                );

            }
        });
    </script>

    <!-- ver un advertisement desde el header -->
    <script src="{{ asset('bundles/metronic8/js/components/modal-view-advertisement.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            ModalViewAdvertisement.init();
        });
    </script>

    <!-- mostrar el advertisement una ves al dia -->
    <script src="{{ asset('bundles/metronic8/js/components/modal-advertisement.js') }}"></script>
    <script>
        jQuery(document).ready(function () {
            ModalAdvertisement.init();
        });
    </script>

    <!-- modal reminder -->
    <script>
        jQuery(document).ready(function () {
            ModalReminder.init();
        });
    </script>

    <!-- END JAVASCRIPTS -->
    {% block javascriptsspecific %}  {% endblock %}
{% endblock %}


