<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Quote: {{ quote_name }}</title>

    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

        .container {
            width: 600px;
            margin: auto
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .centrado {
            float: none;
            margin: auto;
        }

        .text-center {
            text-align: center;
        }

        a:hover {
            text-decoration: none
        }

        body {
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            color: #777;
            margin: 0px;
        }

        p {
            font-weight: 300;
        }

        .cabecera {
            padding: 10px;
            border-bottom: 2px solid #0ac355
        }

        .contenido a {
            color: #222;
            text-decoration: none;
            font-size: 14px;
        }

        .contenido a:hover {
            color: #666;
            text-decoration: none
        }

        .letra-chica {
            font-size: 12px;
        }

        h1 {
            color: #415BA9;
            text-transform: uppercase;
            font-size: 28px;
            margin-top: 20px;
            line-height: 4rem;
            text-align: center;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            font-weight: 700
        }

        h5 {
            font-size: 16px;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            margin-bottom: 0;
            font-weight: 700;
            margin-top: 15px;
            text-align: left;
        }

        h6 {
            font-size: 16px;
            margin-top: 0px;
            margin-bottom: 3px;
            font-weight: 300;
            color: #666;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
        }

        .footer {
            padding: 10px;
            border-top: 2px solid #0ac355
        }

        .chica {
            font-size: .8em;
        }
    </style>
</head>

<body>

<!-- cabecera -->
<div class="container centrado">
    <div class="row">
        <div class="text-center cabecera">
            <img src="{{ direccion_url }}/bundles/metronic8/img/logo.jpg" width="150" alt=""/>
        </div>
    </div>
</div>

<!-- contenido -->
<div class="titulos">
    <div class="container">
        <div class="row">
            <div class="centrado">
                <h1>Quote</h1>

                <p style="text-align:left; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; margin:20px auto 0 auto; font-weight:300; padding: 0 40px 0 40px;">
                    Dear {{ company_name }},
                </p>
                <p style="text-align:left; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; margin:10px 40px 0 40px; font-weight:300;">
                    Please find attached the quote <strong>{{ quote_name }}</strong> for the estimate <strong>{{ estimate_name }}</strong>.
                </p>
                <p style="text-align:left; font-family:'Open Sans', Helvetica, Arial, sans-serif; font-size:14px; margin:10px 40px 0 40px; font-weight:300;">
                    The PDF file contains the items, quantities and prices.
                </p>

                <p class="chica" style="padding: 0 40px 0 40px;">*This message has been generated automatically by our system.<br>Please do not reply.</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <p style="width: 100%; clear: both; padding-top: 3em; text-align: center;">Kind regards,<br>
            Construction Team
        </p>
    </div>
</div>

<!-- footer -->
<div class="container centrado">
    <div class="row">
        <div class="text-center footer">
            <img src="{{ direccion_url }}/bundles/metronic8/img/logo.jpg" width="150" alt=""/>
        </div>
    </div>
</div>

</body>

</html>
