<!DOCTYPE html>
<html lang="es">
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      <title>Invoice</title>
      <style type="text/css">
         html {
            font-family: 'Calibri', Arial, Helvetica, sans-serif;
            font-size: 9pt;
            background-color: #fff;
         }
         table {
            border-collapse: collapse;
            border-spacing: 0;
         }
         .header-table {
            width: 100%;
            border: none;
            margin-bottom: 2px;
         }
         .header-table td {
            border: none;
            vertical-align: top;
            padding: 0 2px 0 0;
         }
         .header-logo img {
            width: 60px;
            height: 60px;
            object-fit: contain;
            display: block;
         }
         .header-company .company-name {
            font-weight: bold;
            font-size: 8pt;
            color: #000;
            margin-bottom: 0;
         }
         .header-company .company-col {
            color: #000;
            line-height: 1.1;
            font-size: 7pt;
         }
         .header-company .company-email {
            color: #4bacc6;
            text-decoration: underline;
         }
         .sheet-header {
            page-break-after: avoid;
         }
         .header-right-cell {
            width: 45%;
         }
         .header-block {
            width: 100%;
         }
         .bill-to-table,
         .project-table,
         .invoice-table {
            width: 100%;
            border-collapse: collapse;
            font-size: 7pt;
         }
         .bill-to-table td,
         .project-table td,
         .invoice-table td {
            padding: 0.06em 0.1em;
            border: 1px solid #000;
            vertical-align: middle;
         }
         .bill-to-title {
            font-weight: bold;
            background-color: #f2f2f2;
            color: #000;
         }
         .bill-to-label {
            font-weight: bold;
            background-color: #f2f2f2;
            color: #000;
         }
         .bill-to-value {
            background-color: #fff;
            color: #000;
         }
         .header-block-title {
            font-weight: bold;
            padding: 0.2em 0.35em;
            font-size: 7pt;
            border-bottom: 1px solid #000;
            background-color: #f2f2f2;
            color: #000;
         }
         .header-block-title.project-title {
            background-color: #f2f2f2;
         }
         .header-inner-table {
            width: 100%;
            border: none;
         }
         .header-inner-table td {
            vertical-align: top;
            padding: 0 4px;
            border: none;
         }
         .header-block table tr:nth-child(odd) .header-cell-label {
            background-color: #fff;
         }
         .header-block table tr:nth-child(even) .header-cell-label {
            background-color: #f2f2f2;
         }
         .header-block table tr:nth-child(odd) .header-cell-value {
            background-color: #f2f2f2;
         }
         .header-block table tr:nth-child(even) .header-cell-value {
            background-color: #fff;
         }
         .header-cell-label {
            font-weight: bold;
            color: #000;
            width: 45%;
         }
         .header-cell-value {
            color: #000;
         }
         .project-table .header-cell-label {
            background-color: #f2f2f2 !important;
            font-weight: bold;
         }
         .project-table .header-cell-value {
            background-color: #fff !important;
         }
         .invoice-table .invoice-cell-label {
            background-color: #f2f2f2 !important;
            font-weight: bold;
         }
         .project-table {
            margin-bottom: 2px;
         }
         .header-invoice-section {
            width: 180px;
         }
         .header-invoice-section .invoice-main-title {
            font-weight: bold;
            font-size: 9pt;
            text-align: right;
            padding: 0.25em 0.5em 0.35em 0;
            color: #000;
         }
         .invoice-table td {
            text-align: center;
         }
         .invoice-cell-label {
            font-weight: bold;
            background-color: #f2f2f2;
            color: #000;
         }
         .invoice-cell-value {
            background-color: #fff;
            color: #000;
         }
         .notes-section {
            margin-bottom: 2px;
            border: 1px solid #000;
            background-color: #fff;
            height: 100px;
         }
         .notes-label {
            display: block;
            padding: 0.12em 0.3em;
            background-color: #ffc000;
            font-size: 8pt;
         }
         .notes-content {
            min-height: 2.5em;
            padding: 0.2em 0.3em;
            background-color: #f9f9f9;
            font-size: 8pt;
            border-top: 1px solid #ddd;
         }
         .sheet-items {
            font-size: 7pt;
            width: 100%;
            table-layout: fixed;
            page-break-inside: avoid;
            border-collapse: collapse;
         }
         .sheet-items td {
            padding: 0.08em 0.06em;
            border: 2px solid #000 !important;
         }
         .sheet-items .row-header td,
         .sheet-items .row-totals td,
         .sheet-items .row-summary td {
            font-size: 7pt;
         }
         .cell-img-wrap {
            display: block;
            min-width: 100px;
            min-height: 100px;
            line-height: 0;
            padding-right: 12px;
            padding-bottom: 4px;
         }
         /* Celdas: clases semánticas cell-*, th-*, td-* */
         .cell-img {
            display: block;
            width: 100px;
            height: auto;
            max-height: 100px;
            object-fit: contain;
            vertical-align: top;
         }
         .cell-desc {
            vertical-align: bottom;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .cell-text {
            vertical-align: bottom;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .cell-center {
            vertical-align: bottom;
            text-align: center;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .cell-right {
            vertical-align: bottom;
            text-align: right;
            padding-right: 0;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .cell-center-sm {
            vertical-align: bottom;
            text-align: center;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .cell-center-sm-error {
            vertical-align: bottom;
            text-align: center;
            border: none;
            color: #f00;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .cell-center-bold {
            vertical-align: bottom;
            text-align: center;
            border: none;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style9 {
            vertical-align: bottom;
            text-align: center;
            border: none;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 20pt;
            background-color: #fff;
         }
         .style10 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border: none;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style11 {
            vertical-align: bottom;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style12 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 2px solid #000 !important;
            border-top: 2px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: 2px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 12pt;
            background-color: #f2f2f2;
         }
         .style13 {
            vertical-align: bottom;
            border-bottom: 2px solid #000 !important;
            border-top: 2px solid #000 !important;
            border-left: none;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .th-desc-border {
            vertical-align: bottom;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style15 {
            vertical-align: bottom;
            border: none;
            color: #f00;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         /* Base común: encabezado gris 12pt bold */
         .style16,
         .style20,
         .style21,
         .style24,
         .style25,
         .style39,
         .style40,
         .style41,
         .style42,
         .style50 {
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 12pt;
            background-color: #f2f2f2;
         }
         .style16 {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000 !important;
            border-top-width: 2px !important;
            border-right: none !important;
            border-left-width: 2px !important;
         }
         .style17 {
            vertical-align: bottom;
            border-bottom: 1px solid #000 !important;
            border-top: 2px solid #000 !important;
            border-left: none;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style18 {
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid #000 !important;
            border-top: 2px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style19 {
            vertical-align: bottom;
            border-bottom: 1px solid #000 !important;
            border-top: 2px solid #000 !important;
            border-left: none;
            border-right: 2px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style20 {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000 !important;
            border-top-width: 2px !important;
            border-left-width: 2px !important;
         }
         .style21 {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000 !important;
            border-top-width: 2px !important;
            border-right-width: 2px !important;
         }
         .style22 {
            vertical-align: middle;
            border: none;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style24 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0;
            border: 1px solid #000 !important;
            border-top-width: 2px !important;
            border-right: none !important;
            border-left-width: 2px !important;
         }
         .style25 {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000 !important;
            border-bottom-width: 2px !important;
            border-right: none !important;
            border-left-width: 2px !important;
         }
         .style26 {
            vertical-align: bottom;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: none;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style27 {
            vertical-align: middle;
            text-align: center;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style28 {
            vertical-align: bottom;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: none;
            border-right: 2px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style29 {
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: 1px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style30 {
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 1px solid #000 !important;
            border-right: 2px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style31 {
            vertical-align: top;
            text-align: left;
            padding-left: 0px;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style34 {
            vertical-align: bottom;
            text-align: left;
            padding-left: 0px;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style35 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style36 {
            vertical-align: bottom;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: none;
            border-right: 2px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style38 {
            vertical-align: bottom;
            text-align: right;
            padding-right: 0px;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style39 {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000 !important;
            border-left-width: 2px !important;
         }
         .style40 {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000 !important;
            border-right-width: 2px !important;
         }
         .style41 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0;
            border: 1px solid #000 !important;
            border-right: none !important;
            border-left-width: 2px !important;
         }
         .style42 {
            vertical-align: bottom;
            text-align: center;
            border: 1px solid #000 !important;
            border-top-width: 2px !important;
            border-right: none !important;
            border-left-width: 2px !important;
         }
         .style44 {
            vertical-align: middle;
            text-align: center;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: 1px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style45 {
            vertical-align: middle;
            text-align: center;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 1px solid #000 !important;
            border-right: 2px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style46 {
            vertical-align: bottom;
            text-align: left;
            padding-left: 0px;
            border: none;
            color: #4bacc6;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style47 {
            vertical-align: bottom;
            border: none;
            color: #4bacc6;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style49 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style50 {
            vertical-align: middle;
            text-align: center;
            border: 1px solid #000 !important;
            border-right: none !important;
            border-left-width: 2px !important;
         }
         .style51 {
            vertical-align: bottom;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: none;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style52 {
            vertical-align: middle;
            text-align: center;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style53 {
            vertical-align: middle;
            text-align: center;
            border: none;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style54 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 1px solid #000 !important;
            border-top: none;
            border-left: 2px solid #000 !important;
            border-right: 1px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 6pt;
            background-color: #f2f2f2;
         }
         .style55 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 1px solid #000 !important;
            border-top: 2px solid #000 !important;
            border-left: 1px solid #000 !important;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style56 {
            vertical-align: bottom;
            border: none;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style58 {
            vertical-align: middle;
            text-align: right;
            padding-right: 0px;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: 1px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 12pt;
            background-color: #f2f2f2;
         }
         .style59 {
            vertical-align: bottom;
            border-bottom: 2px solid #000 !important;
            border-top: none;
            border-left: none;
            border-right: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style60,
         .style61 {
            vertical-align: bottom;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style60 {
            border: none;
            border-bottom: 2px solid #000 !important;
         }
         .style61 {
            border: none;
            border-bottom: 2px solid #000 !important;
            border-right: 2px solid #000 !important;
         }
         .style65 {
            vertical-align: bottom;
            text-align: center;
            border: none;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style66 {
            vertical-align: middle;
            text-align: center;
            border: none;
            border-top: 2px solid #000 !important;
            border-left: 2px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #ffc000;
         }
         .style67 {
            vertical-align: middle;
            border: none;
            border-top: 2px solid #000 !important;
            border-left: 2px solid #000 !important;
            font-weight: bold;
            color: #f00;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .style68,
         .style69 {
            vertical-align: bottom;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style68 {
            border: none;
            border-top: 2px solid #000 !important;
         }
         .style69 {
            border: none;
            border-top: 2px solid #000 !important;
            border-right: 2px solid #000 !important;
         }
         .style70 {
            vertical-align: bottom;
            border: none;
            border-bottom: 2px solid #000 !important;
            border-left: 2px solid #000 !important;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .style72,
         .style73 {
            vertical-align: bottom;
            border: none;
            color: #f00;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style73 {
            text-align: center;
         }
         .th-item,
         .th-desc,
         .th-unit,
         .th-contract-qty {
            vertical-align: middle;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 8pt;
         }
         .th-item {
            text-align: left;
            padding-left: 0;
            background-color: #fff;
         }
         .th-desc {
            text-align: center;
            background-color: #fff;
         }
         .th-unit {
            text-align: center;
            background-color: #f2f2f2;
         }
         .th-contract-qty {
            text-align: center;
            background-color: #f2f2f2;
         }
         .th-contract-amount,
         .th-total-btd,
         .th-prev-bill-qty,
         .th-prev-bill-amount,
         .th-pending,
         .th-period-qty,
         .th-period-amount,
         .th-billed-qty,
         .th-billed-amount {
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 8pt;
         }
         .th-contract-amount {
            background-color: #f2f2f2;
         }
         .th-total-btd {
            background-color: #e5dfec;
         }
         .th-prev-bill-qty {
            background-color: #c2d3e8;
         }
         .th-prev-bill-amount {
            background-color: #c2d3e8;
         }
         .th-pending {
            background-color: #fabf8f;
         }
         .th-period-qty {
            background-color: #faf3ed;
         }
         .th-period-amount {
            background-color: #faf3ed;
         }
         .th-billed-qty {
            background-color: #ebf5d5;
         }
         .th-billed-amount {
            background-color: #ebf5d5;
         }
         .td-empty {
            vertical-align: middle;
            text-align: center;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .td-empty-desc {
            vertical-align: middle;
            text-align: left;
            padding-left: 0;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .td-empty-desc-sm {
            vertical-align: bottom;
            color: #000;
            font-family: 'Calibri';
            font-size: 10pt;
            background-color: #fff;
         }
         .td-total-spacer {
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .td-total-label {
            vertical-align: middle;
            text-align: center;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #f2f2f2;
            border-left: 2px solid #000 !important;
            border-top: 2px solid #000 !important;
         }
         .td-total-amount-gray {
            vertical-align: top;
            text-align: right;
            padding-right: 0px;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #f2f2f2;
         }
         .td-total-btd {
            vertical-align: top;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #e4dfec;
         }
         .td-total-prev {
            vertical-align: top;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #c2d3e8;
         }
         .td-total-pending-label {
            vertical-align: top;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fabf8f;
         }
         .td-total-pending-amount {
            vertical-align: top;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fabf8f;
         }
         .td-total-period {
            vertical-align: top;
            text-align: right;
            padding-right: 0px;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #faf3ed;
         }
         .td-total-billed-label {
            vertical-align: top;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #ebf5d5;
         }
         .td-summary-blank {
            background-color: #fff;
            padding: 0.2em;
         }
         .td-summary-btd {
            vertical-align: middle;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #e4dfec;
         }
         .td-summary-btd-label {
            vertical-align: middle;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #e4dfec;
            border-left: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
         }
         .td-summary-billed {
            vertical-align: middle;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #ebf5d5;
         }
         .td-summary-billed-label {
            vertical-align: middle;
            text-align: right;
            padding-right: 0;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #ebf5d5;
            border-left: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
         }
         .td-total-billed-amount {
            vertical-align: top;
            text-align: right;
            padding-right: 0px;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #ebf5d5;
         }
         .cell-center-mid {
            vertical-align: middle;
            text-align: center;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .cell-label {
            vertical-align: middle;
            text-align: left;
            padding-left: 0;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .cell-italic {
            vertical-align: middle;
            text-align: center;
            border: none;
            font-style: italic;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style107 {
            vertical-align: middle;
            text-align: right;
            padding-right: 0px;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 1px solid #000 !important;
            border-right: 1px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #e4dfec;
         }
         .style108 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 1px solid #000 !important;
            border-right: 1px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #e4dfec;
         }
         .style111 {
            vertical-align: middle;
            text-align: right;
            padding-right: 0px;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: 1px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #ebf5d5;
         }
         .style112 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 1px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 1px solid #000 !important;
            border-right: 2px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #ebf5d5;
         }
         .style113 {
            vertical-align: top;
            text-align: left;
            padding-left: 0px;
            border: none;
            color: #f00;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #fff;
         }
         .style116 {
            vertical-align: middle;
            text-align: right;
            padding-right: 0px;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 2px solid #000 !important;
            border-right: 1px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #ebf5d5;
         }
         .style117 {
            vertical-align: middle;
            text-align: left;
            padding-left: 0px;
            border-bottom: 2px solid #000 !important;
            border-top: 1px solid #000 !important;
            border-left: 1px solid #000 !important;
            border-right: 2px solid #000 !important;
            font-weight: bold;
            color: #000;
            font-family: 'Calibri';
            font-size: 13pt;
            background-color: #ebf5d5;
         }
         .style118 {
            vertical-align: middle;
            text-align: center;
            border: none;
            color: #000;
            font-family: 'Calibri';
            font-size: 11pt;
            background-color: #fff;
         }
         .sheet-items col:nth-child(1) { width: 8%; }
         .sheet-items col:nth-child(2),
         .sheet-items col:nth-child(3),
         .sheet-items col:nth-child(4) { width: 15%; }
         .sheet-items col:nth-child(5) { width: 5%; }
         .sheet-items col:nth-child(6),
         .sheet-items col:nth-child(7),
         .sheet-items col:nth-child(8) { width: 6%; }
         .sheet-items col:nth-child(9),
         .sheet-items col:nth-child(10) { width: 6%; }
         .sheet-items col:nth-child(11),
         .sheet-items col:nth-child(12) { width: 5%; }
         .sheet-items col:nth-child(13),
         .sheet-items col:nth-child(14) { width: 5%; }
         .sheet-items col:nth-child(15),
         .sheet-items col:nth-child(16) { width: 5%; }
         .sheet-items col:nth-child(17) { width: 2%; }
         .sheet-items col:nth-child(18),
         .sheet-items col:nth-child(19) { width: 6%; }
         /* Alturas compactas para caber en una hoja */
         .sheet-items .row-header td,
         .sheet-items .row-totals td,
         .sheet-items .row-summary td {
            padding: 0.12em 0.1em;
         }
         .sheet-items .row-item td {
            font-size: 8pt !important;
         }
         /* Bordes uniformes: una sola regla para toda la tabla */
         .sheet-items .row-header td,
         .sheet-items .row-item td,
         .sheet-items .row-totals td,
         .sheet-items .row-summary td {
            border: 2px solid #000 !important;
         }
         /* Sin bordes en celdas vacías de filas totales */
         .sheet-items .td-empty,
         .sheet-items .td-empty-desc,
         .sheet-items .td-empty-desc-sm,
         .sheet-items .td-total-spacer,
         .sheet-items .td-summary-blank,
         .sheet-items .row-totals .cell-right,
         .sheet-items .row-summary .cell-right {
            border: none !important;
         }
      </style>
      <style>
         @page {
            margin: 4mm;
         }
         body {
            margin: 0;
            padding: 0;
            font-size: 9pt;
         }
      </style>
   </head>
   <body>
      <table cellpadding="0" cellspacing="0" border="0" style="width:100%; page-break-inside: avoid; border:none;">
      <tr><td style="border:none; padding:0; vertical-align:top;">
      <table class="header-table sheet-header" cellpadding="0" cellspacing="0">
         <tr>
            <td style="width: 63px; padding: 0;">
               {% if logo_path %}<img src="{{ logo_path }}" alt="Logo" width="60" height="60" style="width:60px;height:60px;object-fit:contain;display:block;" />{% endif %}
            </td>
            <td style="width: 170px; padding: 0 0 0 4px;">
               <table cellpadding="0" cellspacing="0" border="0" style="width:100%;border:none;">
                  <tr>
                     <td colspan="2" style="font-weight:bold;font-size:10pt;color:#000;padding-bottom:4px;">C&amp;G CONCRETE CONSTRUCTION CO., INC.</td>
                  </tr>
                  <tr>
                     <td style="vertical-align:top;font-size:9pt;line-height:1.3;padding-right:8px;">
                        1258 Willingham Dr<br />
                        East Point, Ga. 5025<br />
                        <a href="mailto:data_t@concrete.com" style="color:#4bacc6;">data_t@concrete.com</a>
                     </td>
                     <td style="vertical-align:top;font-size:9pt;line-height:1.3;">
                        Office: 404-254-2017<br />
                        Fax: 404-589-5896<br />
                        <a href="mailto:data_t@concrete.com" style="color:#4bacc6;">data_t@concrete.com</a>
                     </td>
                  </tr>
               </table>
            </td>
            <td class="header-right-cell" style="width: 195px; padding: 0 4px;">
               <table class="bill-to-table">
               <tr>
                  <td colspan="2" class="bill-to-title">BILL TO:</td>
               </tr>
               <tr>
                  <td class="bill-to-label">Contractor's Name:</td>
                  <td class="bill-to-label">Inspector's Name:</td>
               </tr>
               <tr>
                  <td class="bill-to-value">{{ contractor_name|default('') }}</td>
                  <td class="bill-to-value">{{ inspector_name|default('') }}</td>
               </tr>
               <tr>
                  <td class="bill-to-label">Contractor's Phone Number:</td>
                  <td class="bill-to-label">Inspector Cell Number:</td>
               </tr>
               <tr>
                  <td class="bill-to-value">{{ contractor_phone|default('') }}</td>
                  <td class="bill-to-value">{{ inspector_phone|default('') }}</td>
               </tr>
               <tr>
                  <td class="bill-to-label">Contact Name</td>
                  <td class="bill-to-value">{{ contact_name|default('') }}</td>
               </tr>
               <tr>
                  <td class="bill-to-label">Email/No.:</td>
                  <td class="bill-to-value">{{ contact_email|default('') }}</td>
               </tr>
            </table>
            </td>
            <td style="width: 310px; padding: 0;">
               <table class="header-inner-table" cellpadding="0" cellspacing="0" style="width:100%;">
                  <tr>
                     <td style="width: 165px;">
                        <table class="project-table" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%;">
                           <tr><td class="header-cell-label" style="border:1px solid #000;padding:0.08em;">PROJECT LOCATION:</td><td class="header-cell-value" style="border:1px solid #000;padding:0.08em;">{{ project_location|default('') }}</td></tr>
                           <tr><td class="header-cell-label" style="border:1px solid #000;padding:0.08em;">PROJECT NAME:</td><td class="header-cell-value" style="border:1px solid #000;padding:0.08em;">{{ project_name|default('') }}</td></tr>
                           <tr><td class="header-cell-label" style="border:1px solid #000;padding:0.08em;">PROJECT #</td><td class="header-cell-value" style="border:1px solid #000;padding:0.08em;">{{ project_id_number|default('') }}</td></tr>
                           <tr><td class="header-cell-label" style="border:1px solid #000;padding:0.08em;">PO NUMBER #</td><td class="header-cell-value" style="border:1px solid #000;padding:0.08em;">{{ subcontract|default('') }}</td></tr>
                           <tr><td class="header-cell-label" style="border:1px solid #000;padding:0.08em;">C&amp;G PO#</td><td class="header-cell-value" style="border:1px solid #000;padding:0.08em;">{{ project_number|default('') }}</td></tr>
                        </table>
                     </td>
                     <td style="width: 135px;">
                        <div style="font-weight:bold;font-size:9pt;text-align:right;margin-bottom:0;">INVOICE</div>
                        <table class="invoice-table" border="1" cellpadding="0" cellspacing="0" style="border-collapse:collapse;width:100%;">
                           <tr><td class="invoice-cell-label" style="border:1px solid #000;padding:0.08em;">Date</td><td class="invoice-cell-label" style="border:1px solid #000;padding:0.08em;">Invoice #</td></tr>
                           <tr><td class="invoice-cell-value" style="border:1px solid #000;padding:0.08em;">{{ invoice_date|default('') }}</td><td class="invoice-cell-value" style="border:1px solid #000;padding:0.08em;">{{ invoice_number|default('') }}</td></tr>
                           <tr><td class="invoice-cell-label" style="border:1px solid #000;padding:0.08em;">Start Date</td><td class="invoice-cell-label" style="border:1px solid #000;padding:0.08em;">End Date</td></tr>
                           <tr><td class="invoice-cell-value" style="border:1px solid #000;padding:0.08em;">{{ start_date|default('') }}</td><td class="invoice-cell-value" style="border:1px solid #000;padding:0.08em;">{{ end_date|default('') }}</td></tr>
                        </table>
                     </td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>

      <table class="notes-section" cellpadding="0" cellspacing="0" border="0" style="width:100%; border:1px solid #000; margin:2px 0;">
         <tr>
            <td class="notes-label" style="padding:2px 4px; background-color:#ffc000; font-weight:bold; font-size:8pt;">Notes:</td>
         </tr>
         <tr>
            <td class="notes-content" style="height:18px; padding:4px 6px; background-color:#f9f9f9; font-size:8pt;">{% if notes %}{{ notes|nl2br }}{% else %}&nbsp;{% endif %}</td>
         </tr>
      </table>

      <table border="0" id="items-table" class="sheet-items" style="margin-top:2px;">
         <colgroup>
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
            <col />
         </colgroup>
         <tbody>
            <tr class="row-header">
               <td class="th-item">Item #:</td>
               <td class="th-desc th-desc-border" colspan="3">DESCRIPTION</td>
               <td class="th-unit">UNIT</td>
               <td class="th-unit">UNIT PRICE</td>
               <td class="th-contract-qty">CONTRACT QTY</td>
               <td class="th-contract-amount">CONTRACT AMOUNT</td>
               <td class="th-total-btd">TOTAL QTY BTD</td>
               <td class="th-total-btd">TOTAL AMOUNT BTD</td>
               <td class="th-prev-bill-qty">PREVIOUS BILL QTY</td>
               <td class="th-prev-bill-amount">PREVIOUS BILL AMOUNT</td>
               <td class="th-pending">PENDING QTY (BTD)</td>
               <td class="th-pending">PENDING BALANCE (BTD)</td>
               <td class="th-period-qty">QTY THIS PERIOD</td>
               <td class="th-period-amount">AMOUNT THIS PERIOD</td>
               <td class="cell-right"></td>
               <td class="th-billed-qty">BILLED QTY THIS PERIOD</td>
               <td class="th-billed-amount">BILLED AMOUNT THIS PERIOD</td>
            </tr>

            {% for row in rows %}
            {% if row.header is defined %}
            <tr><td colspan="19" class="style54">{{ row.header }}</td></tr>
            {% else %}
            <tr class="row-item">
               <td class="style18">{{ row.item_number }}</td>
               <td class="style35" colspan="3">{{ row.description }}</td>
               <td class="style19">{{ row.unit }}</td>
               <td class="style19">${{ row.unit_price|number_format(2, '.', ',') }}</td>
               <td class="style19">{{ row.contract_qty|number_format(2, '.', ',') }}</td>
               <td class="style19">${{ row.contract_amount|number_format(2, '.', ',') }}</td>
               <td class="style19">{{ row.total_qty_btd|number_format(2, '.', ',') }}</td>
               <td class="style19">${{ row.total_amount_btd|number_format(2, '.', ',') }}</td>
               <td class="style19">{{ row.previous_bill_qty|number_format(2, '.', ',') }}</td>
               <td class="style19">${{ row.previous_bill_amount|number_format(2, '.', ',') }}</td>
               <td class="style19">{{ row.pending_qty|number_format(2, '.', ',') }}</td>
               <td class="style19">${{ row.pending_balance|number_format(2, '.', ',') }}</td>
               <td class="style19">{{ row.qty_this_period|number_format(2, '.', ',') }}</td>
               <td class="style19">${{ row.amount_this_period|number_format(2, '.', ',') }}</td>
               <td class="cell-right"></td>
               <td class="style19">{{ row.billed_qty|number_format(2, '.', ',') }}</td>
               <td class="style19">${{ row.billed_amount|number_format(2, '.', ',') }}</td>
            </tr>
            {% endif %}
            {% endfor %}

            <tr class="row-totals">
               <td class="td-empty"></td>
               <td class="td-empty-desc td-empty-desc-sm" colspan="3"></td>
               <td class="td-empty"></td>
               <td class="td-total-spacer"></td>
               <td class="td-total-label">TOTAL CONTRACT AMOUNT:</td>
               <td class="td-total-amount-gray">${{ total_contract_amount|number_format(2, '.', ',') }}</td>
               <td class="td-total-btd">TOTAL AMOUNT BTD:</td>
               <td class="td-total-btd">${{ total_amount_btd|number_format(2, '.', ',') }}</td>
               <td class="td-total-prev">TOTAL PREVIOUS BILL AMT:</td>
               <td class="td-total-prev">${{ total_previous_bill|number_format(2, '.', ',') }}</td>
               <td class="td-total-pending-label">TOTAL PENDING BALANCE:</td>
               <td class="td-total-pending-amount">${{ total_pending_balance|number_format(2, '.', ',') }}</td>
               <td class="td-total-period">TOTAL AMT THIS PERIOD:</td>
               <td class="td-total-period">${{ total_amt_this_period|number_format(2, '.', ',') }}</td>
               <td class="cell-right"></td>
               <td class="td-total-billed-label">TOTAL BILLED AMOUNT:</td>
               <td class="td-total-billed-amount">${{ total_billed_amount|number_format(2, '.', ',') }}</td>
            </tr>
            
            {# Fila 1: LESS RETAINAGE (bajo TOTAL AMOUNT BTD) + CURRENT RETAINAGE (bajo TOTAL BILLED AMOUNT) #}
            <tr class="row-summary">
               <td class="td-summary-blank" colspan="8"></td>
               <td class="td-summary-btd-label">LESS RETAINAGE:</td>
               <td class="td-summary-btd">${{ total_retainage_accumulated|number_format(2, '.', ',') }}</td>
               <td class="td-summary-blank" colspan="7"></td>
               <td class="td-summary-billed-label">{{ retainage_label }}</td>
               <td class="td-summary-billed">${{ current_retainage_amount|number_format(2, '.', ',') }}</td>
            </tr>
            {# Fila 2: AMOUNT EARNED LESS RETAINAGE (bajo BTD) + CURRENT AMOUNT DUE (bajo BILLED) #}
            <tr class="row-summary">
               <td class="td-summary-blank" colspan="8"></td>
               <td class="td-summary-btd-label">AMOUNT EARNED LESS RETAINAGE:</td>
               <td class="td-summary-btd">${{ balance_after_retainage|number_format(2, '.', ',') }}</td>
               <td class="td-summary-blank" colspan="7"></td>
               <td class="td-summary-billed-label">CURRENT AMOUNT DUE:</td>
               <td class="td-summary-billed">${{ current_amount_due|number_format(2, '.', ',') }}</td>
            </tr>
         </tbody>
      </table>
      </td></tr>
      </table>
   </body>
</html>
