{% extends 'admin/layout.html.twig' %}

{% block subtitle %} - Equations{% endblock %}

{% block stylesheetspecific %}{% endblock %}

{% block content %}
    <!-- BEGIN: Subheader -->
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">Equations</h3>
                <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                    <li class="m-nav__item m-nav__item--home">
                        <a href="{{ url('home') }}" class="m-nav__link m-nav__link--icon">
                            <i class="m-nav__link-icon la la-home"></i>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Equations</span>
                        </a>
                    </li>
                    <li class="m-nav__separator">-</li>
                    <li class="m-nav__item">
                        <a href="" class="m-nav__link">
                            <span class="m-nav__link-text">Manage equations</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- END: Subheader -->

    <div class="m-content">
        <div id="lista-equation" class="m-portlet m-portlet--mobile" m-portlet="true">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text">
                            Equations
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        {% if permiso.agregar %}
                            <li class="m-portlet__nav-item">
                                <a id="btn-nuevo-equation"
                                   class="btn btn-success btn-icon"
                                   href="javascript:;">
                                    <span>
                                        <i class="la la-plus"></i>
                                        <span class="m--hidden-mobile">New</span>
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                        {% if permiso.eliminar %}
                            <li class="m-portlet__nav-item">
                                <a id="btn-eliminar-equation"
                                   class="btn btn-danger btn-icon"
                                   href="javascript:;">
                                    <span>
                                        <i class="la la-trash-o"></i>
                                        <span class="m--hidden-mobile">Delete</span>
                                    </span>
                                </a>
                            </li>
                        {% endif %}
                        <li class="m-portlet__nav-item">
                            <a href="javascript:;" m-portlet-tool="fullscreen"
                               class="m-portlet__nav-link m-portlet__nav-link--icon">
                                <i class="la la-expand"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="m-portlet__body">
                <!--begin: Search Form -->
                <div class="form-group m-form__group row align-items-center mb-2">
                    <div class="col-md-4">
                        <div class="m-input-icon m-input-icon--left">
                            <input type="text" class="form-control m-input m_form_search"
                                   placeholder="Search...">
                            <span class="m-input-icon__icon m-input-icon__icon--left">
									<span><i class="la la-search"></i></span>
								</span>
                        </div>
                    </div>
                </div>
                <!--end: Search Form -->

                <!--begin: Datatable -->
                <div class="m_datatable" id="equation-table-editable"></div>
                <!--end: Datatable -->
            </div>
        </div>

        <div id="form-equation" class="m-portlet m--hide">
            <div class="m-portlet__head">
                <div class="m-portlet__head-caption">
                    <div class="m-portlet__head-title">
                        <h3 class="m-portlet__head-text" id="form-equation-title">
                            Do you want to create a new equation? Follow the next steps:
                        </h3>
                    </div>
                </div>
                <div class="m-portlet__head-tools">
                    <ul class="m-portlet__nav">
                        <li class="m-portlet__nav-item">
                            <a href="javascript:;"
                               class="m-portlet__nav-link m-portlet__nav-link--icon cerrar-form-equation"><i
                                        class="la la-close"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="m-portlet__body">

                <ul class="nav nav-tabs m--hide" role="tablist" id="nav-tabs-equation">
                    <li class="nav-item">
                        <a class="nav-link active wizard-tab" data-item="1"
                           data-toggle="tab" href="#tab-content-general" id="tab-general">
                            General
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link wizard-tab" data-item="2"
                           data-toggle="tab" href="#tab-content-items" id="tab-items">
                           Pay Items
                        </a>
                    </li>

                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="tab-content-general" role="tabpanel">
                        <form class="m-form" id="equation-form" action="#"
                              enctype="multipart/form-data" method="post">

                            <input type="hidden" id="equation_id" name="equation_id"/>
                            <div class="m-form__section m-form__section--first">
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">1</span>
                                        Name
                                        <span class="ic-small italic">(required)</span>
                                    </label>

                                    <input type="text" class="form-control form-control-text event-change"
                                           id="descripcion" name="descripcion"/>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label>
                                        <span class="ic-step-number">2</span>
                                        Equation
                                        <span class="ic-small italic">(required)</span>
                                    </label>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <input type="text" class="form-control form-control-text event-change"
                                                   id="equation" name="equation"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group m-form__group ic-form-group">
                                    <label><span class="ic-step-number">3</span>Status</label>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="m-form__group form-group">
                                                <div class="m-radio-inline">
                                                    <label class="m-radio">
                                                        <input type="radio" name="radioestado" id="estadoactivo"
                                                               class="event-change" checked>
                                                        Active
                                                        <span></span>
                                                    </label>
                                                    <label class="m-radio">
                                                        <input type="radio" name="radioestado" id="estadoinactivo"
                                                               class="event-change">
                                                        Inactive
                                                        <span></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab-content-items" role="tabpanel">
                        <div class="row" id="lista-items">
                            <div class="col-lg-12">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right mb-2">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12 order-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-md-9"></div>
                                                <div class="col-md-3">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m_form_search"
                                                               placeholder="Search...">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="items-table-editable"></div>
                                <!--end: Datatable -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="m-form">
                    <div class="m-form__actions text-center">
                        <button id="btn-wizard-anterior"
                                class="btn btn-info m--hide" type="button">
                            Back
                        </button>

                        <button id="btn-wizard-siguiente"
                                class="btn btn-primary " type="button">
                            Next
                        </button>
                        {% if permiso.agregar or permiso.editar %}
                            <button id="btn-wizard-finalizar" class="btn btn-success" type="button">
                                Save
                            </button>
                        {% endif %}
                        <button class="btn btn-danger cerrar-form-equation" type="button">
                            Cancel
                        </button>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- items -->
    <div class="modal fade" id="modal-pay-items" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        Pay Items
                    </h5>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>

                </div>
                <div class="modal-body">

                    <div class="form-group m-form__group">
                        <label>
                            Change Equation
                            <span class="ic-small italic">(required)</span>
                        </label>

                        <div class="row" id="lista-pay-items">
                            <div class="col-lg-12">
                                <!--begin: Search Form -->
                                <div class="m-form m-form--label-align-right mb-2">
                                    <div class="row align-items-center">
                                        <div class="col-xl-12 order-1">
                                            <div class="form-group m-form__group row align-items-center">
                                                <div class="col-md-9"></div>
                                                <div class="col-md-3">
                                                    <div class="m-input-icon m-input-icon--left">
                                                        <input type="text" class="form-control m-input m_form_search"
                                                               placeholder="Search...">
                                                        <span class="m-input-icon__icon m-input-icon__icon--left">
                                                        <span><i class="la la-search"></i></span>
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!--end: Search Form -->
                                <!--begin: Datatable -->
                                <div class="m_datatable" id="pay-items-table-editable"></div>
                                <!--end: Datatable -->
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" id="btn-salvar-pay-items">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascriptsspecific %}
    <script src="{{ asset('bundles/ican/js/pages/equations.js') }}?{{ 'now' | date('U') }}"></script>
    <script>

        var permiso = {
            agregar: {% if permiso.agregar %}{{ permiso.agregar }}{% else %}0{% endif %}, // 1 o 0
            editar: {% if permiso.editar %}{{ permiso.editar }}{% else %}0{% endif %},
            eliminar: {% if permiso.eliminar %}{{ permiso.eliminar }}{% else %}0{% endif %}
        };

        jQuery(document).ready(function () {
            Equations.init();
        });
    </script>
{% endblock %}
