{% extends 'admin/layout.html.twig' %}

{% block subtitle %} - Subcontractors Report{% endblock %}

{% block stylesheetspecific %}

{% endblock %}

{% block content %}

    <!--begin::Toolbar-->
    <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
        <!--begin::Toolbar container-->
        <div id="kt_app_toolbar_container" class="app-container container-fluid d-flex flex-stack">
            <!--begin::Page title-->
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                <!--begin::Title-->
                <h1 class="page-heading d-flex text-gray-900 fw-bold fs-3 flex-column justify-content-center my-0">
                    Subcontractors Report
                </h1>
                <!--end::Title-->
                <!--begin::Breadcrumb-->
                <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                    <!--begin::company-->
                    <li class="breadcrumb-item text-muted">
                        <a href="{{ url('home') }}" class="text-muted text-hover-primary">Home</a>
                    </li>
                    <!--end::company-->
                    <!--begin::company-->
                    <li class="breadcrumb-item">
                        <span class="bullet bg-gray-500 w-5px h-2px"></span>
                    </li>
                    <!--end::company-->
                    <!--begin::company-->
                    <li class="breadcrumb-item text-muted">Subcontractors Report</li>
                    <!--end::company-->
                </ul>
                <!--end::Breadcrumb-->
            </div>
            <!--end::Page title-->
            <!--begin::Actions-->
            <div class="d-flex align-items-center gap-2 gap-lg-3">

            </div>
            <!--end::Actions-->
        </div>
        <!--end::Toolbar container-->
    </div>
    <!--end::Toolbar-->
    <!--begin::Content-->
    <div id="kt_app_content" class="app-content flex-column-fluid">
        <!--begin::Content container-->
        <div id="kt_app_content_container" class="app-container container-fluid">

            <!-- lista -->
            <div id="lista-reporte-subcontractor" class="card card-sticky">
                <div class="card-header border-0 pt-6"
                     data-kt-sticky="true"
                     data-kt-sticky-name="lista-reporte-subcontractor"
                     data-kt-sticky-offset="{default: '50px', xl: '70px'}"
                     data-kt-sticky-width="{default: '95%', sm: '100%', md: '100%', lg: '70%', xl: '82%'}"
                     data-kt-sticky-left="auto"
                     data-kt-sticky-top="{default: '0px', sm: '0px', md: '0px', lg: '45px', xl: '45px'}"
                     data-kt-sticky-animation="false"
                     data-kt-sticky-zindex="95">
                    <div class="card-title">
                        <div class="d-flex align-items-center position-relative my-1">
                            <i class="ki-duotone ki-magnifier text-primary fs-3 position-absolute ms-5">
                                <span class="path1"></span>
                                <span class="path2"></span>
                            </i>
                            <input type="text" data-table-filter="search"
                                   class="form-control form-control-solid w-300px ps-13"
                                   placeholder="Search..."/>
                        </div>
                    </div>
                    <div class="card-toolbar">
                        <div class="d-flex justify-content-end">

                            <!-- total -->
                            <div class="input-group input-group-solid w-300px me-4">
                                <span class="input-group-text">Total $:</span>
                                <input type="text"
                                       class="form-control form-control-validate event-change"
                                       id="total_reporte" disabled>
                            </div>

                            <!--filter-->
                            <div>
                                <button type="button" class="btn btn-primary me-3"
                                        data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                    <i class="ki-duotone ki-filter fs-2">
                                        <span class="path1"></span>
                                        <span class="path2"></span>
                                    </i>
                                    <span class="kt-hidden-mobile font-weight-bold">Filter</span>
                                </button>
                                <div id="filter-menu" class="menu menu-sub menu-sub-dropdown w-300px w-md-325px"
                                     data-kt-menu="true">
                                    <!--begin::Header-->
                                    <div class="px-7 py-5">
                                        <div class="fs-5 text-gray-900 fw-bold">Filter options</div>
                                    </div>
                                    <!--end::Header-->
                                    <!--begin::Separator-->
                                    <div class="separator border-gray-200"></div>
                                    <!--end::Separator-->
                                    <!--begin::Content-->
                                    <div class="px-7 py-5">

                                        <div class="mb-3" id="select-subcontractor">
                                            <select class="form-select form-select2 form-select-solid fw-bold" id="filtro-subcontractor">
                                                <option value="">Subcontractor</option>
                                                {% for item in subcontractors %}
                                                    <option value="{{ item.subcontractor_id }}">{{ item.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-3" id="select-project">
                                            <select class="form-select form-select2 form-select-solid fw-bold" id="filtro-project">
                                                <option value="">Project</option>
                                                {% for item in projects %}
                                                    <option value="{{ item.project_id }}">{{ item.number }} - {{ item.description }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="mb-3" id="select-project-item">
                                            <select class="form-select form-select2 form-select-solid fw-bold" id="filtro-project-item">
                                                <option value="">Item</option>
                                            </select>
                                        </div>

                                       
                                        <div class="mb-3">
                                            <div class="input-group input-group-solid date-picker-filter"
                                                 id="datetimepicker-desde" data-td-target-input="nearest"
                                                 data-td-target-toggle="nearest">
                                                <input type="text" class="form-control filter-date" placeholder="From"
                                                       data-td-target="#datetimepicker-desde" autocomplete="off"/>
                                                <span class="input-group-text" data-td-target="#datetimepicker-desde"
                                                      data-td-toggle="datetimepicker">
                                                  <i class="ki-duotone ki-calendar fs-2"><span
                                                              class="path1"></span><span class="path2"></span></i>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <div class="input-group input-group-solid date-picker-filter"
                                                 id="datetimepicker-hasta" data-td-target-input="nearest"
                                                 data-td-target-toggle="nearest">
                                                <input type="text" class="form-control filter-date" placeholder="To"
                                                       data-td-target="#datetimepicker-hasta" autocomplete="off"/>
                                                <span class="input-group-text" data-td-target="#datetimepicker-hasta"
                                                      data-td-toggle="datetimepicker">
                                                  <i class="ki-duotone ki-calendar fs-2"><span
                                                              class="path1"></span><span class="path2"></span></i>
                                                </span>
                                            </div>
                                        </div>

                                        <!--begin::Actions-->
                                        <div class="d-flex justify-content-end mt-10">
                                            <button type="reset"
                                                    class="btn btn-light btn-active-light-primary fw-semibold me-2 px-6"
                                                    data-kt-menu-dismiss="true"
                                                    id="btn-reset-filtrar">Reset filters
                                            </button>
                                            <button type="submit" class="btn btn-primary fw-semibold px-6"
                                                    data-kt-menu-dismiss="true" id="btn-filtrar">
                                                Apply
                                            </button>
                                        </div>
                                        <!--end::Actions-->
                                    </div>
                                    <!--end::Content-->
                                </div>
                            </div>

                            <!-- export -->
                            <div>
                                <!--begin::Export buttons-->
                                <div id="reporte-subcontractor-table-editable-export" class="d-none"></div>
                                <!--end::Export buttons-->

                                <!--begin::Export dropdown-->
                                <button type="button" class="btn btn-light-primary" data-kt-menu-trigger="click"
                                        data-kt-menu-placement="bottom-end">
                                    <i class="ki-duotone ki-exit-down fs-2"><span class="path1"></span><span
                                                class="path2"></span></i>
                                    <span class="kt-hidden-mobile font-weight-bold">Export</span>
                                </button>

                                <!--begin::Menu-->
                                <div id="reporte_subcontractor_export_menu"
                                     class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-semibold fs-7 w-200px py-4"
                                     data-kt-menu="true">
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="copy">
                                            Copy to clipboard
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="excel">
                                            Export to Excel
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="csv">
                                            Export CSV
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="#" class="menu-link px-3" data-kt-export="pdf">
                                            Export to PDF
                                        </a>
                                    </div>
                                    <!--end::Menu item-->

                                    <!--begin::Menu item-->
                                    <div class="menu-item px-3">
                                        <a href="javascript:;" class="menu-link px-3" id="btn-exportar">
                                            Export Report
                                        </a>
                                    </div>
                                    <!--end::Menu item-->
                                </div>
                                <!--end::Menu-->
                                <!--end::Export dropdown-->

                                <!--begin::Hide default export buttons-->
                                <div id="reporte-subcontractor-table-editable-buttons" class="d-none"></div>
                                <!--end::Hide default export buttons-->
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!--begin::Datatable-->
                    <table id="reporte-subcontractor-table-editable"
                           class="table table-striped align-middle table-row-dashed fs-6 gy-3 gs-5">
                        <thead>
                        <tr class="fw-bold fs-6 text-gray-800 px-7">
                            <th>Date</th>
                            <th>Project</th>
                            <th>Subcontractor</th>
                            <th>Item</th>
                            <th>Unit</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>$ Total</th>
                        </tr>
                        </thead>
                        <tbody class="text-gray-600 fw-semibold">
                        </tbody>
                    </table>
                    <!--end::Datatable-->
                </div>
            </div>

        </div>
        <!--end::Content container-->
    </div>
    <!--end::Content-->


{% endblock %}

{% block javascriptsspecific %}

    <script src="{{ asset('bundles/metronic8/assets/plugins/custom/datatables/datatables.bundle.js') }}"></script>
    <script src="{{ asset('bundles/metronic8/js/pages/reporte-subcontractor.js') }}?{{ 'now' | date('U') }}"></script>
    <script>

        var permiso = {
            agregar: {% if permiso.agregar %}{{ permiso.agregar }}{% else %}0{% endif %}, // 1 o 0
            editar: {% if permiso.editar %}{{ permiso.editar }}{% else %}0{% endif %},
            eliminar: {% if permiso.eliminar %}{{ permiso.eliminar }}{% else %}0{% endif %}
        };

        var all_subcontractors = {{ subcontractors|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};
        var all_projects = {{ projects|json_encode(constant('JSON_PRETTY_PRINT'))|raw }};

        jQuery(document).ready(function () {
            ReporteSubcontractor.init();
        });
    </script>
{% endblock %}
